/* ----------------------------------------------------------------------------
CSS RESET
---------------------------------------------------------------------------- */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    /*
    ^^ Credit - Kevin Powell: "A better image reset for your CSS"
    https://youtu.be/345V2MU3E_w?si=v5lJgFSW6wIpNLla
    */
    max-width: 100%;
    height: auto;
    vertical-align: middle;  /* instead of display block */
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
    /*
    see also for low resolution implementation:
    https://csswizardry.com/2023/09/the-ultimate-lqip-lcp-technique/

    * overview *
    preload lo-res (<link rel=preload as=image href="" fetchpriority=high>)
    implement with <img ... stlye="background-image: url(lo-res.jpx)">
    */
}

/* ----------------------------------------------------------------------------
END CSS RESET
---------------------------------------------------------------------------- */